@use "global" as *;

.page-contact__inner {
  @include mq(md){
    max-width: rem(750);
  }
}

.page-contact__form {
  margin-top: rem(45);
  @include mq("md") {
    // margin-top: rem(180);
    }
}

.page-contact__button {
  text-align: center;
  margin-top: rem(33);

  @include mq("md") {
    margin-top: rem(40);
  }
}


//ワードプレスお問い合わせボタン
.wpcf7-form-control.wpcf7-submit.has-spinner {
    color: $white;
}

span.wpcf7-spinner {
  display: none;
}

.wpcf7-form-control.wpcf7-submit.has-spinner:hover {
  color: $green;
}

.wpcf7-form-control.wpcf7-submit.has-spinner:hover span {
  background: $green;
}

.wpcf7-form-control.wpcf7-submit.has-spinner::after {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1); /* 初期状態では背景を隠す */
  transform-origin: left top;
  transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1; /* ボタンの下に配置される */
  border: rem(1) solid $green;
}

//コンタクトホームボタン
/* ホバー時のボタン文字色 */
.page-contact__button .button:hover {
  color: $green;
}

/* ボタン内のinputのデフォルトスタイル */
.page-contact__button .button input.wpcf7-form-control.wpcf7-submit {
  color: inherit; /* ボタン全体の色を継承 */
}

/* ホバー時の疑似要素の変化 */
.page-contact__button .button:hover::after {
  transform: scale(1, 1);
}

/* スピナーを非表示 */
.page-contact__button .button .wpcf7-spinner {
  display: none;
}

/* ホバー時の矢印アイコンの色 */
.page-contact__button .button:hover span:last-child {
  background: $green;
}
